@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0 auto;
  font-family: "Lilita One", sans-serif;
}

body {
  background-color: #e9e9e9;
}